@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";
@import "_mixins.scss";

body.page-printmail {
    #page {
        max-width: 840px;
        width: 100%;
        min-width: 0;

        @include breakpoint(1025px) {
            width: 100%;
        }
    }
    form#print-mail-form {
        padding: 1em;
        border-radius: 10px;
        border: 2px solid lightgrey;
        text-align: center;

        .form-item {
            text-align: left;
        }

        .form-type-textfield {
            @include flexifields(100px);
        }

        input.form-submit {
            margin: 0.5em;
        }
    }
}