@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";
@import "_mixins.scss";

body.page-printmail {
    #page {
        max-width: 840px;
        width: 100%;
        min-width: 0;

        @include breakpoint(1025px) {
            width: 100%;
        }
    }
    form#print-mail-form {
        padding: 1em;
        border-radius: 10px;
        border: 2px solid #77bbcc;
        text-align: center;

        .form-item {
            display: flex;
            flex-flow: row wrap;
            text-align: left;
            @include flexifields(120px);

            label {
                width: 120px;
            }
            input {
                flex: 100%;
                min-width: 0;


                @include breakpoint(430px) {
                    flex: 1 1 calc(100% - 120px);
                    min-width: 250px;                    
                }
            }
        }
        .form-item-txt-to-addrs {
            display: flex;
            flex-flow: row wrap;
            @include flexifields(120px);

            label {
                width: 120px;
            }
            .form-textarea-wrapper {
                flex: 100%;
                min-width: 0;


                @include breakpoint(430px) {
                    flex: 1 1 calc(100% - 120px);
                    min-width: 250px;                    
                }
            }
            textarea#edit-txt-to-addrs {
                width: 100%;
            }
            .description {
                @include breakpoint(430px) {
                    margin-left: 120px;
                }
            }
        }
        .form-type-item > a{
            word-break: break-word;
            flex: 100%;
            min-width: 0;

            @include breakpoint(430px) {
                flex: 1 1 calc(100% - 120px);
                min-width: 250px;                    
            }
        }
        .form-item-txt-message {
            .form-textarea-wrapper {
                flex: 100%;
            }
        }

        input.form-submit {
            margin: 0.5em;
        }
    }
}