@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";

@import "_mixins.scss";

/* Maintenance page styles */
body.maintenance-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  #page-wrapper {
    border: 1px solid #ddd;
  }
  #page {
    margin: 20px 40px 40px;
    width: auto;
  }
  #header,
  #container,
  #footer-wrapper {
    flex: 1 1 100%;
    justify-content: center;
    display: inherit;
    display: flex;
  }
  #header .section {
    text-align: center;
  }
  #name-and-slogan,
  #main {
    text-align: center;
  }
  #name-and-slogan {
    margin-bottom: 50px;
    padding-top: 20px;
  }
  #site-name {
    font-size: 1.5em ;
    line-height: 1;
    margin: 20px 0;
    text-align: center;
    font-family: Georgia, "Book Antiqua", serif;

    @include breakpoint(295px) {
      font-size: 1.8em;
    }

    @include breakpoint(400px) {
      font-size: 2em;
    }

    @include breakpoint(1024px) {
      font-size: 4em;
    }

    a {
      color: black;
    
      &:hover {
        color: #008080;
        text-decoration: none;
      }
    }
  }
  #site-slogan {
    font-size: 1em;
    line-height: 1;
    margin: 10px 0;
    text-align: center;
    font-family: Georgia, "Book Antiqua", serif;

    @include breakpoint(295px) {
      font-size: 1.2em;
    }

    @include breakpoint(400px) {
      font-size: 1.5em;
    }

    @include breakpoint(480px) {
      margin: 20px 0;
    }

    @include breakpoint(1024px) {
      font-size: 2.2em;
    }

    a {
      color: black;
    
      &:hover {
        color: #008080;
      }
    }
  }
  h1#page-title {
    background: none;
    font-size: 28px;
    margin-bottom: 0.5em;
  }
}
/* Maintenance page styles */