@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";

@import "_mixins.scss";

/* Maintenance page styles */
body.maintenance-page {
  #header,
  #container,
  #footer-wrapper {
    display: flex;
  }
  #site-name {
    font-size: 1.5em ;
    margin: 20px 0;
    text-align: center;
    font-family: Georgia, "Book Antiqua", serif;

    @include breakpoint(295px) {
      font-size: 1.8em;
    }

    @include breakpoint(400px) {
      font-size: 2em;
    }

    @include breakpoint(1024px) {
      font-size: 4em;
    }

    a {
      color: black;
    
      &:hover {
        color: #008080;
        text-decoration: none;
      }
    }
  }
  #site-slogan {
    font-size: 1em;
    line-height: 1;
    margin: 10px 0;
    text-align: center;
    font-family: Georgia, "Book Antiqua", serif;

    @include breakpoint(295px) {
      font-size: 1.2em;
    }

    @include breakpoint(400px) {
      font-size: 1.5em;
    }

    @include breakpoint(480px) {
      margin: 20px 0;
    }

    @include breakpoint(1024px) {
      font-size: 2.2em;
    }

    a {
      color: black;
    
      &:hover {
        color: #008080;
      }
    }
  }
}
/* Maintenance page styles */