@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";

@import "_mixins.scss";

/********** OPPA SPANISH STYLE **********/
body.i18n-es {
  label, .pane-title, .ckeditor_links, .link-edit-summary, .form-actions input, .vertical-tabs-list li a strong {
    text-transform: none;
  }
  
  .pane-superfish-1 #superfish-1 li a {
    @include breakpoint(680px) {
      font-size: 0.9em;
      padding: 0 5px;
    }
    @include breakpoint(750px) {
      font-size: 0.9em;
      padding: 0 10px;
    }
    @include breakpoint(808px) {
      font-size: 1em;
    }
    @include breakpoint(866px) {
      font-size: 1.1em;
    }
    @include breakpoint(924px) {
      font-size: 1.2em;
    }
    @include breakpoint(1105px) {
      font-size: 0.9em;
      padding: 0 5px;
    }
    @include breakpoint(1126px) {
      padding: 0 10px;
    }
    @include breakpoint(1187px) {
      font-size: 1em;
    }
    @include breakpoint(1268px) {
      font-size: 1.1em;
    }
    @include breakpoint(1348px) {
      font-size: 1.2em;
    }
  }

  #block-panels-mini-header.sticky-header {
    #superfish-1 > li a {
      @include breakpoint(681px) {
        font-size: 1.7vw;
        padding: 0 0.7vw;
      }
      @include breakpoint(1106px) {
        font-size: calc((100vw - 540px)*0.017);
        padding: 0 0.695vw;
      }
      @include breakpoint(1400px) {
        font-size: 14.5px;
        padding: 0 10px;
      }
    }
  }
}

.field-name-body {
  table {
    margin: auto;

    td {
      border: 0px;
    }
  }
}
