@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";

@import "_mixins.scss";

#user-account-main-page {
  .pane-basic-user-info-for-user-account {
    label { width: 100px; }
    .pane-user-field-identification {
      width: 100px;
    }
  }
}

.page-user-edit,
.page-admin-people-create {

  #main-content {
    .form-item-name,
    .form-item-mail {
      label { display: block; }
      input { width: 100%;  }
    }

    .field-name-field-name-prefix,
    .field-name-field-first-name,
    .field-name-field-middle-name-or-initial,
    .field-name-field-last-name,
    .field-name-field-name-suffix,
    .field-name-field-nickname {
      @include flexifields(95px);
    }

    .field-name-field-gender {
      label { width: 100%; }
      .form-radios {
        display: inline-block;
      }
      .form-item.form-type-radio {
        display: inline-block;
        width: auto;
      }
    }

    .pane-user-field-identification {
      width: auto;
      .field-name-field-identification {
        width: 100%;

        label { width: 100%; }
        &:after {
          content: '';
          display: none;
        }
      }
    }
    .field-name-field-birthdate {
      input { width: 8em; }
      .description {
        display: none;
      }
    }
    .pane-user-form-buttons .form-actions {
      text-align: center;
      width: 100%;
    }
    .field-name-field-phone-type {
      width: auto;
      &:after {
        content: '';
        display: none;
      }
    }
    .field-name-field-phone-number {
      display: block;
    }
    .field-name-field-address-type:after {
      content: '';
      display: none;
    }

    .pane-user-form-account {
      @include breakpoint(450px 624px) {
        padding-top: 2em;
      }
    }

    #field-email-values {
      display: inline-table;
    }
  }

  .field-name-field-address {
    .form-item {
      margin-bottom: 5px;
    }
  }

  .field-name-field-name-notes {
    .text-format-wrapper .filter-wrapper {
      border: 0;
    }
  }

  .field-name-field-user-about {
    label { display: none; }
  }

  .field-name-field-address {
    div.addressfield-container-inline > div.form-item {
      float: none;
      margin-right: 0;
    }
    label {
      width: 70px;
      box-sizing: border-box;
    }
    select.state {
      width: calc(100% - 75px);
    }
  }
}

.page-admin-people-create {
  .field-name-field-birthdate {
    input,
    .description {
      display: inline-block;
      width: auto;
    }
  }

  td {
    position: relative;
  }

  input.button-remove:not(#edit-delete) {
    position: absolute;
    transform: rotate(-90deg);
    right: -50px;
    top: 50%;
  }

  table.field-multiple-table {
    border: 1px solid #DDDDDD;
    display: table;
    border-collapse: initial;
    th {
      padding: 5px;
    }
  }
}